/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #c0bebe;
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  background-color: #222;
  padding: 20px;
  color: #fff; /* Change text color to white */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff; /* Change link color to white */
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 10px;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

#hero {
  text-align: center;
  padding: 40px 0;
  background-color: #f7931e;
  color: #fff;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

#features {
  text-align: center;
  padding: 40px 0;
  background-color: #3f7dbc;
  color: #fff;
}

.feature-item {
  margin-bottom: 30px;
}

.feature-item h3 {
  margin-bottom: 10px;
}

.feature-item p {
  margin-bottom: 10px;
}

#cta {
  text-align: center;
  padding: 40px 0;
  background-color: #a4777e;
  color: #fff;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}
/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #c9c6c65a;
}

h1, h2 {
  color:  #ffffff;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  background-color: #222;
  padding: 20px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}
